CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_FREERTOS_HZ=1000

# Default GPIO map for ISF15ACP4 (override in sdkconfig for your board)
CONFIG_ISF15ACP4_SPI_HOST=1
CONFIG_ISF15ACP4_PIN_MOSI=11
CONFIG_ISF15ACP4_PIN_SCLK=12
CONFIG_ISF15ACP4_PIN_CS=10
CONFIG_ISF15ACP4_PIN_DC=13
CONFIG_ISF15ACP4_PIN_RES=14
CONFIG_ISF15ACP4_PIN_VCC_EN=9
CONFIG_ISF15ACP4_PIN_SWITCH=8
